{% extends 'mainpage/base.html' %}

{%load static%}

<!DOCTYPE html>
<html lang="en">
  <body>
    

{% block content %}


        <!-- partial -->
        <div class="main-panel">


          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"><span style = "color: #2A3038">Add Country </span></h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active">Forms</li>
                  <li class="breadcrumb-item active" aria-current="page">Country</li>
                </ol>
              </nav>


            </div>
            <div class="row">
              


             
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form action= "" method= "POST" class="forms-sample">
                      {% csrf_token %}
                      
                      <div class="form-group">
                        <label for="exampleInputUsername1">Country</label>
                        <br>
                         {{form.Country}}
                      </div>


                      <div class="form-group">
                        <label for="exampleInputEmail1">Zone</label>
                        <br>
                        {{form.Zone}}
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Country Code (eg: 220,44)</label>
                        <br>
                        {{form.CountryCode}}
                
                      </div>

                      
                     
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark" onclick="javascript:history.back();">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
  
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'mainpage/assets/vendors/js/vendor.bundle.base.js'%}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'mainpage/assets/vendors/select2/select2.min.js'%}"></script>
    <script src="{% static 'mainpage/assets/vendors/typeahead.js/typeahead.bundle.min.js'%}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'mainpage/assets/js/off-canvas.js'%}"></script>
    <script src="{% static 'mainpage/assets/js/hoverable-collapse.js'%}"></script>
    <script src="{% static 'mainpage/assets/js/misc.js'%}"></script>
    <script src="{% static 'mainpage/assets/js/settings.js'%}"></script>
    <script src="{% static 'mainpage/assets/js/todolist.js'%}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'mainpage/assets/js/file-upload.js'%}"></script>
    <script src="{% static 'mainpage/assets/js/typeahead.js'%}"></script>
    <script src="{% static 'mainpage/assets/js/select2.js'%}"></script>
    <!-- End custom js for this page -->



    {% endblock %}
  </body>
</html>