
{% extends 'mainpage/base.html' %}

{%load static%}
<!DOCTYPE html>
<html lang="en">
  <body>
    

{% block content %}



        <div class="main-panel">


          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"><span style = "color: #2A3038">HPMN FORM</span></h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active">Forms</li>
                  <li class="breadcrumb-item active" aria-current="page">HPMN</li>
                </ol>
              </nav>


            </div>
            <div class="row">
              


             
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">


                    <form action= "" method= "POST" class="forms-sample">
                      {% csrf_token %}
                      


                      <div class="col-md-6">

                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Call Type</label>
                          <div class="col-sm-9">
    
                            <select name="call_type" id="call_type" class="form-control">
    x
                              {% for service in Service %}
                              <option>{{ service.call_type }}</option>
                              {% endfor %}
    
    
    
                            </select>
    
                            <br>
                            <a style="color: 
                                    #6c7293 " href="{% url 'service_form' %}"><button type="button"
                                class="btn btn-inverse-dark btn-fw">Add Call Type</button></a>
                          </div>
                        </div>
    
                        
                      </div>


                      <div class="col-md-6">

                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Service Plan</label>
                          <div class="col-sm-9">
    
                            <select name="service_type" id="service_type" class="form-control">
    
                              
                              <option>Postpaid</option>
                              <option>Prepaid</option>
                              
    
    
    
                            </select>

                          </div>
                        </div>
    
                        
                      </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Charge</label>
    
                          <div class="col-sm-9">
                            {{ form.charge}}
                          </div>
    
                        </div>
                      </div>

                      
                      
                     
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark" onclick="javascript:history.back();">Cancel</button>
              
                    </form>
         
                    



                  </div>
                </div>
              </div>


            </div>
          </div>
       
 
  
        </div>

      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'mainpage/assets/vendors/js/vendor.bundle.base.js'%}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'mainpage/assets/vendors/select2/select2.min.js'%}"></script>
    <script src="{% static 'mainpage/assets/vendors/typeahead.js/typeahead.bundle.min.js'%}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'mainpage/assets/js/off-canvas.js'%}"></script>
    <script src="{% static 'mainpage/assets/js/hoverable-collapse.js'%}"></script>
    <script src="{% static 'mainpage/assets/js/misc.js'%}"></script>
    <script src="{% static 'mainpage/assets/js/settings.js'%}"></script>
    <script src="{% static 'mainpage/assets/js/todolist.js'%}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'mainpage/assets/js/file-upload.js'%}"></script>
    <script src="{% static 'mainpage/assets/js/typeahead.js'%}"></script>
    <script src="{% static 'mainpage/assets/js/select2.js'%}"></script>
    <!-- End custom js for this page -->



   {% endblock %}
  </body>
</html> 







