{% extends 'mainpage/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <body>


        {% block content %}


            <div class="main-panel">
                <div class="content-wrapper">


                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered">

                                        <a style="color: 
                         #6c7293; float: right; " href="{% url 'charge_form' %}"><button type="button"
                     class="btn btn-inverse-dark btn-fw">Add Charge</button></a>
                     <b><p style ="text-align: left; color:#000">{{country}}</p></b>
                 
            

                     <div style= "
                     position: relative;
                     left: 33%;
                    "  role="group" aria-label="Basic example">
                       
                <a  href="{% url 'blank' Operators=operator.name type='VPMN'%}"><button type="button" class="btn btn-outline-dark btn-fw">VPMN</button></a>
                <hr style="width: 1px; height: 20px; display: inline-block;">
                  <a href="{% url 'blank' Operators=operator.name type='HPMN'%}"><button type="button" class="btn btn-outline-dark btn-fw">HPMN</button></a>
                  <br>
<br>
               </div>
           


                                        <thead>
                                            <!-- <tr class="table-warning"> -->
                                                <th colspan="2" style="text-align:center">
                                                    <span style="font-size:19px; font-weight: normal;">
                                                        {{ name }}</span>
                                                </th>
                                            <!-- </tr> -->



                                         
                                        </thead>

                                    


                                       

                                    </table>

                                    <br> 
                                    <div>



                                    <table style="width: 49%;float: left; padding: 5px;" class="table table-bordered">
                                        <thead>

                                          <tr class="table-info">
                                            <th colspan="3" style="text-align:center">
                                                <span style="font-size:17px; color: #fff; font-weight: normal;">
                                                    POSTPAID
                                                </span>
                                            </th>
                                            </tr>






                                            <tr>
                                               
                                                <th style="text-align:center">
                                                    <span style="font-size:16px; color: #000;">
                                                        Call Type
                                                    </span>
                                                </th>
                                                <th style="text-align:center">
                                                    <span style="font-size:16px;  color: #000;">
                                                        Charge
                                                    </span>
                                                </th>
                                                {% if type == "VPMN" %}
                                                <th style="text-align:center">
                                                    <span style="font-size:16px;  color: #000;">
                                                        Final Charge
                                                    </span>
                                                </th>
                                                {% endif %}
                                                
                                            </tr>
                                        </thead>


                                        <tbody>
                                            {% for postpaid in Postpaid %}
                                                <tr>


                                                    
                                                



                                                    <td>
                                                        {{ postpaid.Service }}
                                                    </td>
                                                    <td>
                                                        {{ postpaid.charge }}

                                                    </td>
                                                    {% if type == "VPMN" %}
                                                    <td>
                                                        {{ postpaid.calculated }}</td>
                                                        {% endif %}


                                                        <!-- <td style="width:20%;border:none;"class="btn btn-outline-secondary ">
                                                            <a href="{% url 'delete_charge' Charges=postpaid %}">
                                                            <button style="border:none;" type="button" class="btn btn-outline-secondary ">
                                                                <i class="mdi mdi-delete text-danger" style ></i>
                                                              </button></a></td>
                                                             -->

                                                   
                                                              

                                                </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                 



                                    <table style="width: 50%; padding: 5px; float: right;" class="table table-bordered">
                                      <thead>
                                        
                                        <tr class="table-info">
                                          <th style="background-color: #fff; text-align:center;"colspan="3" >
                                              <span style="font-size:17px; color: black; font-weight: normal;">
                                                  PREPAID
                                              </span>
                                          </th>
                                          </tr>
                                          <tr>
                                              <th style="text-align:center">
                                                  <span  style="font-size:16px; color: #000;">
                                                      Call Type
                                                  </span>
                                              </th>
                                              <th style="text-align:center">
                                                  <span style="font-size:16px;  color: #000;">
                                                      Charge
                                                  </span>
                                              </th>
                                              {% if type == "VPMN" %}
                                              <th style="text-align:center">
                                                <span style="font-size:16px;  color: #000;">
                                                   Final Charge
                                                </span>
                                                
                                            </th>
                                            {% endif %}
                                             
                                          </tr>
                                      </thead>


                                      <tbody>
                                          {% for prepaid in Prepaid %}
                                              <tr>

                                                  <td>
                                                      {{ prepaid.Service }}
                                                  </td>
                                                  <td>
                                                    {{ prepaid.charge }}</td>
                                                    {% if type == "VPMN" %}
                                                  <td>
                                                      {{ prepaid.calculated }}</td>
                                                      {% endif %}

<!-- 
                                                      <td style="width:20%;border:none;"class="btn btn-outline-secondary ">
                                                        <a href="{% url 'delete_charge' Charges=prepaid %}">
                                                        <button   style="border:none;" type="button" class="btn btn-outline-secondary ">
                                                            <i class="mdi mdi-delete text-danger" style ></i>
                                                          </button></a></td>
                                                         -->




                                                 


                                              </tr>
                                          {% endfor %}


                                      </tbody>
                                  </table>
                                 
                                  <br>
                                  <br>
                                  <br>

                                  </div>
                                  <br>

                                  <br>
                                  <hr>


                                  <table style =" width:40%;margin-left: auto;
                                  margin-right: auto;"class="table table-bordered">

                                    <thead>

                                      <tr >
                                        <th style=" text-align:center;"colspan="3" >
                                            <span style="font-size:17px;  font-weight: normal;">
                                                Service Status
                                            </span>
                                        </th>
                                        </tr>
                                        <tr>
                                            <th style="text-align:center">
                                                <span  style="font-size:16px; color: #000;">
                                                    Service
                                                </span>
                                            </th>
                                            <th style="text-align:center">
                                                <span style="font-size:16px;  color: #000;">
                                                    Status
                                                </span>
                                            </th>
                                            
                                           
                                        </tr>
                                    </thead>


                                    <tbody>
                                        {% for service in Service %}
                                            <tr>

                                                <td>
                                                    {{ service.Service_name }}
                                                </td>
                                                <td>
                                                  {{ service.live}}</td>
                                               
                                               




                                               


                                            </tr>
                                        {% endfor %}


                                    </tbody>
                                </table>



                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <!-- main-panel ends -->
        </body>
    </html>
</div>
<!-- page-body-wrapper ends --></div><!-- container-scroller --><!-- plugins:js --><script src="{% static 'mainpage/assets/vendors/js/vendor.bundle.base.js' %}"></script><!-- endinject --><!-- Plugin js for this page --><!-- End plugin js for this page --><!-- inject:js --><script src="{% static 'mainpage/assets/js/off-canvas.js' %}"> </script><script src="{% static 'mainpage/assets/js/hoverable-collapse.js' %}"></script><script src="{% static 'mainpage/assets/js/misc.js' %}"></script><script src="{% static 'mainpage/assets/js/settings.js' %}"></script><script src="{% static 'mainpage/assets/js/todolist.js' %}"></script><!-- endinject --><!-- Custom js for this page --><!-- End custom js for this page -->{% endblock %}</body></html>
