{% extends 'mainpage/base.html' %}
{% load static %}

{%load static%}

<!DOCTYPE html>
<html lang="en">
  <body>
    

{% block content %}


        <div class="main-panel">
<div>
<br>
</div>
<br>
          <div id="audience-map" class="vector-map"></div>
         
            
            <div class="row">

<div>


  

            </div>

              
             
            </div>
            <br>
            <div class="row">

                <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <a name="bottom"></a>
                    <h4 class="card-title" > <span style = "color: #2A3038">Roaming partners</span></h4>
                 
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Country</th>
                            <th>Operators</th>
                  
                            <th>Country Code</th>
                            
                          </tr>                          
                        </thead>




                        <tbody>


                          {% for country in Country %}
              
                      
                          <tr>
                            <td>{{ country.Country.name }}</td>
                            <td>
                
                              <ul>
                                {% for operator in Operator %}
                                 
                       

                                   {% if operator.country_id == country.Country.name %}
                                       <li><a style = "color:#6c7293 "  href="{% url 'blank' Operators=operator.name type='VPMN'%}"> <button type="button" class="btn btn-inverse-warning btn-fw">{{ operator.name }}</button></a></li>
                                
                                    {% endif %}
                                {% endfor %}
                              </ul>
                            </td>
                            <td class="text-dark">  + {{ country.CountryCode }}</td>
                           
                          </tr>

                          {% endfor %}





                        </tbody>
                      </table>
                      <br>
                  
                      <hr>
                      {% if Pages.has_previous %}
                            

                         <a style="color: 
                         #000;font-size: small;float: left; position: relative;left:42%" href="?page={{ Pages.previous_page_number }}#bottom"> &laquo Previous </a>
                        
                      {% endif %}  

                       
                      <span style = "color: #000;  font-size: small; align-items: right; text-align: right; float: right;"> Page {{Pages.number}} of {{Pages.paginator.num_pages}}</span>
                       {% if Pages.has_next %}
                         <a style="color: 
                         #000;font-size: small; float: left; position: relative;left:52%" href="?page={{  Pages.next_page_number }}#bottom">Next &raquo</a>

                         

                         {% endif %}

 <br>
                         {% if Pages.has_previous %}
                            
                         <a style="color: 
                         #000;font-size: small;" href="?page=1#bottom" > &laquo First    </a>
          
                      {% endif %} 
                      
                      {% if Pages.has_next %}

                      
                      <a style="color: 
                      #000;font-size: small; text-align: right; float:right"  href="?page={{ Pages.paginator.num_pages }}#bottom"> Last &raquo</a>
                      {% endif %}
                    

                    </div>
                  </div>
                </div>
              </div>



          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
         
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->




          <script src="{% static 'mainpage/assets/vendors/js/vendor.bundle.base.js'%}"></script>
          <!-- endinject -->
          <!-- Plugin js for this page -->
          <script src="{% static 'mainpage/assets/vendors/chart.js/Chart.min.js'%}"></script>
          <script src="{% static 'mainpage/assets/vendors/progressbar.js/progressbar.min.js'%}"></script>
          <script src="{% static 'mainpage/assets/vendors/jvectormap/jquery-jvectormap.min.js'%}"></script>
          <script src="{% static 'mainpage/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js'%}"></script>
          <script src="{% static 'mainpage/assets/vendors/owl-carousel-2/owl.carousel.min.js'%}"></script>
          <!-- End plugin js for this page -->
          <!-- inject:js -->
          <script src="{% static 'mainpage/assets/js/off-canvas.js'%}"></script>
          <script src="{% static 'mainpage/assets/js/hoverable-collapse.js'%}"></script>
          <script src="{% static 'mainpage/assets/js/misc.js'%}"></script>
          <script src="{% static 'mainpage/assets/js/settings.js'%}"></script>
          <script src="{% static 'mainpage/assets/js/todolist.js'%}"></script>
          <!-- endinject -->
          <!-- Custom js for this page -->
          <script src="{% static 'mainpage/assets/js/dashboard.js'%}"></script>


{% endblock %}











  </body>
</html>